<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

  <!-- Database connectie
  private OracleConnection conn;
  private OracleCommand command;
  string user = "dbi318713"; //Dit is de gebruikersnaam
  string pw = "V7brKp3nww"; //Dit is het wachtwoord
  conn.ConnectionString = "User Id=" + user + ";Password=" + pw + ";Data Source=" + "//192.168.15.50:1521/fhictora" + ";";
  conn = new OracleConnection();
  command = conn.CreateCommand();
  
    -->
<configuration>
  <connectionStrings>
    <add name="BolConnectionstring" connectionString="Data Source=localhost:1521/xe;Initial Catalog=MyDatabase;User ID=BOL;Password=LOB" providerName="Oracle.DataAccess.Client;"/>
  </connectionStrings>
    <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>

